In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
import os
import kagglehub
import pathlib
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Load data

In [5]:
ROOT_PATH = pathlib.Path().resolve().parent
# Get the parent directory of the current working directory
raw_data_path = os.path.join(ROOT_PATH, 'raw_data', 'Loan_Default.csv')
# Load the data into a DataFrame
if os.path.exists(raw_data_path):
    data = pd.read_csv(raw_data_path)
    print("✅ Data loaded successfully")
else:
    raise FileNotFoundError(f"The file {raw_data_path} does not exist. Please check the path.")

✅ Data loaded successfully

In [6]:
data=pd.read_csv(f'{raw_data_path}')

In [7]:
print(f"data shape: {data.shape}")

data shape: (148670, 34)

# Data exploration

In [37]:
data.head(1)

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0

In [9]:
data.isnull().sum()/len(data)*100

ID                            0.000000
year                          0.000000
loan_limit                    2.249277
Gender                        0.000000
approv_in_adv                 0.610749
loan_type                     0.000000
loan_purpose                  0.090133
Credit_Worthiness             0.000000
open_credit                   0.000000
business_or_commercial        0.000000
loan_amount                   0.000000
rate_of_interest             24.509989
Interest_rate_spread         24.644515
Upfront_charges              26.664425
term                          0.027578
Neg_ammortization             0.081388
interest_only                 0.000000
lump_sum_payment              0.000000
property_value               10.155378
construction_type             0.000000
occupancy_type                0.000000
Secured_by                    0.000000
total_units                   0.000000
income                        6.154571
credit_type                   0.000000
Credit_Score                  0.000000
co-applicant_credit_type      0.000000
age                           0.134526
submission_of_application     0.134526
LTV                          10.155378
Region                        0.000000
Security_Type                 0.000000
Status                        0.000000
dtir1                        16.224524
dtype: float64

**Objective: investigate the missing values in the columns where the % of missing values is non-negligible (> 2.5%)**

In [43]:
#Assumption based on banking knowledge & first visual observation of the dataset:
#Some columns contain null values only for class 1 i.e. when Status=1 (loan has already defaulted).
#Let's check out this assumption!
a=data[['loan_limit', 'rate_of_interest','Interest_rate_spread','Upfront_charges', 'property_value','LTV', 'dtir1','Status']]

In [42]:
#Select and count only the rows where 'rate_of_interest' AND 'Interest_rate_spread' AND 'Upfront_charges' are null values
b=a[(a['Status'] == 1) & (a['rate_of_interest'].isnull()) & (a['Interest_rate_spread'].isnull()) & (a['Upfront_charges'].isnull())]
print(f"Assumption confirmed: {b.shape[0]} rows contain null values for all 3 features. It is a perfect match!")

Assumption confirmed: 36439 rows contain null values for all 3 features. It is a perfect match!

**Suggestion 1 for preprocessing: remove the columns ['rate_of_interest','Interest_rate_spread','Upfront_charges'] from the features. Why? If we kept those columns as features, they would create an imbalance. Those features would only "influence" the Class 0, never the Class 1. I therefore suggest to treat those 3 columns as targets instead. Based on the outcome of our prediction, we (the bank) will define contractually the interest rate, spread and upfront charges applicable to a customer if and only if the loan has been approved. How? By running a linear regression (or another model) only in the case where our first model (the classification) returns an approval to the applicant loan request.**

In [55]:
#Let's move on to the columns 'property_value' and 'LTV'!
c=a[(a['Status'] == 0) & (a['property_value'].isnull())] 
d=a[(a['Status'] == 1) & (a['property_value'].isnull())] 
print(f"Class 1 Defaulted loans: {d.shape[0]} missing property values Class 0 Performing loans: {c.shape[0]} missing property values only")

Class 1 Defaulted loans: 15096 missing property values Class 0 Performing loans: 2 missing property values only

In [62]:
#Let's check if we have class 1 defaulted loans with property values properly filled in
e = a[(a['Status'] == 1) & (a['property_value'].isnull() == False)]
print(f"Class 1 Defaulted loans: {e.shape[0]} with property values properly filled in")

Class 1 Defaulted loans: 21543 with property values properly filled in

Partial conclusion: out of 36639 Class 1 defaulted loans, 15096 have a missing property value, 21543 do not.

In [81]:
#Assumption: the Class 1 defaulted loans with missing property values are not real estate loans. Let's check this out by looking at the columns
#related to the type or purpose of the loan: "loan_type','loan_purpose' and 'business_or_commercial'

In [89]:
loan_type_columns=['loan_type','loan_purpose','business_or_commercial']
for element in loan_type_columns:
    f=data[(data['Status'] == 1)][element]
    print(f.value_counts())
    print("___________________")

loan_type
type1    25775
type2     7172
type3     3692
Name: count, dtype: int64
___________________
loan_purpose
p3    13996
p4    12590
p1     8935
p2     1083
Name: count, dtype: int64
___________________
business_or_commercial
nob/c    29467
b/c       7172
Name: count, dtype: int64
___________________

Partial conclusion: there is no obvious link. We need to find another angle.

In [101]:
data[(data['Status']==1) & (data['property_value'].isnull())]

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
26,24916,2019,cf,Joint,nopre,type3,p1,l1,nopc,nob/c,...,EQUI,518,EXP,45-54,to_inst,NaN,south,direct,1,NaN
42,24932,2019,cf,Male,nopre,type3,p4,l1,nopc,nob/c,...,EQUI,765,EXP,45-54,to_inst,NaN,North,direct,1,NaN
52,24942,2019,cf,Joint,nopre,type3,p3,l1,nopc,nob/c,...,EQUI,555,EXP,65-74,to_inst,NaN,North,direct,1,NaN
53,24943,2019,ncf,Female,nopre,type1,p3,l1,nopc,nob/c,...,EQUI,603,EXP,65-74,to_inst,NaN,North,direct,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148644,173534,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,...,EQUI,846,EXP,>74,to_inst,NaN,south,direct,1,NaN
148649,173539,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,EQUI,703,EXP,55-64,to_inst,NaN,south,direct,1,NaN
148652,173542,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,EQUI,608,EXP,55-64,to_inst,NaN,North,direct,1,NaN
148658,173548,2019,cf,Sex Not Available,nopre,type1,p4,l1,nopc,nob/c,...,EQUI,669,EXP,25-34,to_inst,NaN,south,direct,1,NaN
148663,173553,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,619,EXP,<25,to_inst,NaN,North,direct,1,NaN

We observe visually that the column 'credit_type' only has EQUI values. That is a hint!

In [103]:
#Let's check out the value distribution in that column for the complete dataset (i.e. not focusing on Class 1 non-performing loans)
data['credit_type'].value_counts()

credit_type
CIB     48152
CRIF    43901
EXP     41319
EQUI    15298
Name: count, dtype: int64

It seems the value 'EQUI' in the column 'credit_type' correlates almost exactly with missing values in the 'property_value' column. Let's zoom on the 'EQUI' values to be sure!

In [107]:
g=data[(data['Status']==1) & (data['property_value'].isnull()) & (data['credit_type']=='EQUI')]
print(f"Class 1 Defaulted loans with missing property values, how many are 'EQUI'? Answer: {g.shape[0]}")

Class 1 Defaulted loans with missing property values, how many are 'EQUI'? Answer: 15096

A Google search indicates the following: "Equifax Inc. is an American multinational consumer credit reporting agency headquartered in Atlanta, Georgia and is one of the three largest consumer credit reporting agencies, along with Experian and TransUnion (together known as the "Big Three")"

Assumption: EQUI does not provide the property value for defaulted loans whereas the 3 other credit bureaus (CIB, CRIF and EXP) do.

In [117]:
property_value_filled_in=data[(data['Status']==1) & (data['credit_type']=='CIB')][['credit_type']].shape[0]+data[(data['Status']==1) & (data['credit_type']=='CRIF')][['credit_type']].shape[0] +data[(data['Status']==1) & (data['credit_type']=='EXP')][['credit_type']].shape[0]
print(f"Class 1 Defaulted loans with missing property values, how many are not'EQUI'? Answer: {property_value_filled_in}")

Class 1 Defaulted loans with missing property values, how many are not'EQUI'? Answer: 21342

From the 21543 values actually filled in the column 'property_value', 21342 come from the bureaus CIB, CRIF and EXP. A plausible explanation is simply that unlike the 3 other bureaus, EQUI simply does not provide this information.

**Suggestion 2 for preprocessing: keep the column 'property_value' and remove the missing values in it.
We can apply the same method to the column 'LTV' (Loan-to-Value) which is equal to 'loan_amount' / 'property_value' as there are no missing values in 'loan_amount'**

In [131]:
#Now let's move on to the last column with missing values > 2.5%, which is 'dtir1' (Debt-to-Income_Ratio).
h=data[(data['dtir1'].isnull()) & (data['Status']==1)  & (data['credit_type']=='EQUI')]
print(f"Class 1 Defaulted loans with missing 'dtir1', how many are 'EQUI'? Answer: {h.shape[0]}")

Class 1 Defaulted loans with missing 'dtir1', how many are 'EQUI'? Answer: 15296

In [148]:
#Now let's take a look at the column loan_purpose as it appears visually that all missing 'dtir1' have 'p4' in that column.
i=data[(data['dtir1'].isnull()) & (data['loan_purpose'] == 'p4') & ~(data['credit_type'] =='EQUI')]
print(f"Class 1 Defaulted loans with missing 'dtir1', how many are 'p4'? Answer: {i.shape[0]}")

Class 1 Defaulted loans with missing 'dtir1', how many are 'p4'? Answer: 8817

We have a total of 8817+15296=24113 which matches almost entirely all missing values in 'dtir1.'

**Suggestion 3 for preprocessing: keep the column 'dtir1' and remove the missing values in it. De facto we are withdrawing "only" another (24113-15296)=8817 rows, as we already suggested to remove 15296 EQUI values.**

# Base model

import package_folder.preprocessor
from package_folder.preprocessor import clean_data
from package_folder.preprocessor import encode_categorical

In [ ]:
'''#Load model
import pickle

# Adjust the path to your .pkl file
with open('path_to_your_file.pkl', 'rb') as file:
    model = pickle.load(file)

# Display some information about the loaded object
print(model)'''

In [ ]:
#Let's try a new approach: remove columns with a lot of missing values & highly correlated with 1 status ("loan not approved")
data_light=data.drop(columns=['loan_limit', 'rate_of_interest','Interest_rate_spread','Upfront_charges', 'property_value','LTV', 'dtir1'])
data_light_brutally_cleaned=data_light.dropna()
data_encoded_with_Gilian=encode_categorical(data_light_brutally_cleaned)
data_encoded_with_Gilian.shape

In [ ]:
#Create X and y
X=data_encoded_with_Gilian.drop(columns='Status')
y=data_encoded_with_Gilian['Status']

In [ ]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaler.fit(X) 
X_scaled= scaler.transform(X)

In [ ]:
X_scaled.shape

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate
model=LogisticRegression()
base_model_score=cross_validate(model,X_scaled,y,cv=5)['test_score'].mean()
base_model_score

In [ ]:
print(f"Accuracy of logistic regression model: {round(float(base_model_score),2)}")